<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Блог программиста Python</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/media/2/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="banner">
    <h1>Блог программиста Python</h1>
    <p class="slogan">Сделаем мир лучше !</p>
  </div>
  <div id="navbar">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/about/">О блоге</a></li>
      <li><a href="/contacts/">Контакты</a></li>
      <li><a href="/services/">Сервисы</a></li>
    </ul>
  </div>
  <div class="clear">&nbsp;</div>
  <div id="sidebar">
    Здравстуйте,  
    {% if user.is_authenticated %}
      {{user.first_name}}<br>
      <a href="/logout/">Выйти</a>
   
    {% else %} 
      гость<br>
      {% if authForm %}
        <form action="/login/" method="POST">{% csrf_token %}
          {{ authForm.as_p }}
          <input type="submit" value="Войти">
        </form> 
      {% endif %}
      <a href="/register/">Реестрация</a>

    {% endif %}

    <h2><a href="/">Архив постов</a></h2>
    <ul>
      {% block links %}
              {% if years %}
                  {% for year in years %}
                    <li><a href="/posts/year/{{ year }}/">{{ year }} год</a></li>
                  {% endfor %}
              {% else %}
              {% endif %}
      {% endblock %}
    </ul>
    
    <p><!-- another static block --></p>
  </div>
  <div id="content">
    {% block  content %}
      {% for post in posts %}
        <h1>{{ post.date|date:"l, F jS" }} </h1>
        <p>{{ post.title }}
        {% autoescape off %}
          <p>{{ post.body|truncatewords_html:"10" }} ...
        {% endautoescape %}
        <p><a href="/post/{{ post.id }}/">Читать дальше...</a></p>
      {% endfor %}  
    {% endblock %}
  </div>
  <div class="clear">&nbsp;</div>
  <div id="footer"> <a href="http://web-mastery.info/">Homepage</a> | <a href="http://web-mastery.info/">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> | This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a> </div>
</div>
</body>
</html>
