<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  {% load crispy_forms_tags %}
  {% load bootstrap_toolkit %}
  {% load social_auth_widget %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>
     {% if title %}
        {{ title }}
     {% else %}
        {{ flatpage.title }}
     {% endif %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}offcanvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Блог програміста Python</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Головна</a></li>
            <li><a href="/about/">Коротко про сайт</a></li>
            <li><a href="/contacts/">Контакти</a></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сервіси<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                  <li><a href="/requestMeals/">Подати заявку на прийом їжі</a></li>
                {% endif %}
              </ul>
            </li> -->

          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">


      <div class="row row-offcanvas row-offcanvas-right">
          
          <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div class="row">
           {% block content %}
                     {% if not flatpage %}
                        <div class="jumbotron">
                          <h1>Всім привіт!</h1>
                          <p>Це мій перший блог на Django|Bootstrap.</p>
                        </div>
                      {% endif%}
            <!-- <div class="col-6 col-sm-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><! - -/span-->

              {% for post in posts %}
                <div class="col-6 col-sm-6 col-lg-4">
                  <h2>{{ post.date|date:"l, F jS" }} </h2>
                  <p>{{ post.title }} </p>
                  <!-- {% autoescape off %}
                    <p>{{ post.body|truncatewords_html:"10" }} ... </p>
                  {% endautoescape %} -->
                  <p>Кількість перглядів: {{ post.reviews }}</p>
                  <p><a href="/post/{{ post.id }}/" class="btn btn-xs btn-primary" role="button">Читати далі...</a></p>
                </div>
              {% endfor %}  
            {% endblock %}  <!-- content -->
          </div><!--/row-->
        </div><!--/span-->
        
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
           <div >
              <h3>Доброго дня,  
              {% if user.is_authenticated %}
              <br>
                {{user.first_name}}
              <br>
                <a href="/logout/" class="btn btn-xs btn-primary" role="button">Вийти</a>
              {% else %} 
                гість </h3>
                {% if authForm %}
                  <form action="/login/" method="POST" class="form-vertical">{% csrf_token %}
                    {{ authForm|as_bootstrap }}
                    <div >
                      <button type="submit" class="btn btn-xs btn-primary">Увійти</button>
                      <a href="/register/"  class="btn btn-xs btn-primary" role="button">Реестрація</a>
                    </div>
                    <a href="{% url 'socialauth_begin' 'github' %}">Login with GitHub</a>
                    <hr>
                    {% social_auth_widget %}
                  </form> 
                {% endif %}

              {% endif %}
           </div>
          <br>
          <center><b>Архів</b></center>
          <div class="list-group">
            {% if years %}
                {% for year in years %}
                  <a href="/posts/year/{{year}}/" class="list-group-item">{{year}}</a>
                {% endfor %} <!-- years -->
            {% endif %}
          </div> <!-- list-group -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; ВІТІ ДУТ</p>
      </footer>
    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}offcanvas.js"></script>
  </body>
</html>
