{% extends "index.html" %}
{% block content %}
	{% if post %}
		<h1>{{ post.title }}</h1>
		<p>{{ post.body }}</p>
		<p>{{ post.date|date:"l, F jS" }}</p>
		<div class="share42init"></div>
		<script type="text/javascript" src="/media/share42/share42.js"></script>
		{% if comments %}
			{% for comment in comments %}
				<hr>
				{% autoescape off %}
					<p>{{ comment.comment }}</p>
				{% endautoescape %}
				<p>Написал {{comment.author.first_name}} : {{ comment.date|date:"l, F jS" }}</p>
			{% endfor %}
		{% endif %}
		{% if user.is_authenticated %}
			<p><a href="/comment/{{ post.id }}/">Прокоментировать</a></p>
		{% else %}
			Только зарегистрированные пользователи могут оставлять свои коментарии. 
			<a href="/register/">Реестрация</a>
		{% endif %}
	{% endif %}
{% endblock %}